.team {
  background-color: $third-bg;
}

.team__list {
  display: flex;
  justify-content: space-between;
}

.team-member {
  width: calc(25% - 30px / 4 * 3);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  overflow: hidden;
}

.team-member__description {
  padding: 30px;
  background-color: $main-bg;
}

.team-member__title,
.team-member__text {
  text-align: center;
  font-size: 16px;
  line-height: 1.19;
}

.team-member__title {
  margin-bottom: 10px;
}

.team-member__text {
  color: $second-text-color;
  margin-bottom: 16px;
}

.team-member img {
  width: 100%;
}

.socials {
  display: flex;
  justify-content: center;
}

.socials__item {
  margin-right: 10px;
}

.socials__item:last-of-type {
  margin-right: 0;
}

.socials__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $accent-color;
    fill: $third-text-color;
  }
}
