.what-we-do {
  display: flex;
  justify-content: space-between;
}

.what-we-do__item {
  position: relative;
  width: calc(33.333% - 30px/3*2);
}

.what-we-do__item img {
  width: 100%;
}

.what-we-do__text {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  padding: 10px;
  background-color: rgba(47, 48, 58, 0.8);
  text-align: center;
  text-transform: uppercase;
  color: $third-text-color;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}